@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
:root {
  --overlay-color: #03a9f4;
  --menu-color: rgb(59, 121, 100);
  --dark-color: #162938;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu li {
  margin-right: 20px;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.header-menu a:hover {
  color: #bbb;
}

.container-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: grey;
}

.container-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.landing {
  position: relative;
  text-align: center;
  z-index: 10;
  display: block;
  justify-content: center;
}

.landing h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

.landing p {
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin-top: auto;
}

.contact-info {
  font-size: 14px;
  color: #bbb;
}

.contact-info a {
  color: #fff;
  text-decoration: underline;
}

.contact-info a:hover {
  color: #bbb;
}

/* ================= */

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom */
  z-index: 2;
}

.contact-info {
  font-size: 14px;
}

.contact-info a {
  color: #fff;
  text-decoration: underline;
}

.contact-info a:hover {
  color: #bbb; /* Adjust the color on hover as needed */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me,
.projects {
  position: relative;
  z-index: 10;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  /* position: relative;
  text-align: center;
  z-index: 10;
  display: block;
  justify-content: center; */
}

h1,
h2,
h3 {
  padding: 10 15;
  z-index: 2;
  color: white;
}

p {
  line-height: 1.6;
  color: white;
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  text-align: center;
  z-index: 10;
  display: block;
  justify-content: center;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.btn-show-more {
  position: relative;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  z-index: 3;
}

.btn-show-more:hover {
  background-color: #555;
  cursor: pointer;
}

footer {
  text-align: center;
  /* transform: scale(1) translateY(-15px); */
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  overflow: hidden;
}

.menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu nav ul li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  color: #bbb; /* Adjust the color on hover as needed */
}

.menu-close-btn {
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.menu-close-btn:hover {
  background-color: #777;
}

.menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.menu-btn:hover {
  background-color: #777;
}

/* Additional styling for the projects section in the menu */
.menu #projects {
  color: #fff;
}

.menu #projects h2 {
  color: #bbb; /* Adjust the color as needed */
}

.menu #projects .project {
  color: #111; /* Adjust the color as needed */
}

.menu #projects .btn-show-more {
  background-color: #555;
  color: #fff;
}

.menu #projects .btn-show-more:hover {
  background-color: #777;
}

.social {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
